#form-add{
    display: flex;
    flex-direction: column;
    /* padding: 10% 30%; */
    box-sizing: border-box;
    height: 100vh;
    background:url('../img/fondo-form.jpg');
    justify-content: center;
    align-items: center;
    background-size: cover;
}

#form-add form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
    background: rgba(0, 0, 0, 0.7) url('../img/Spider-Man.jpeg');
    background-position: center center;
    background-size: cover;
    width: 41%;
    padding: 18px 0;
    font-family: 'Lato', sans-serif;
    color: white;
    background-blend-mode: darken;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 30px 90px;
    border-radius: 9px;
}

#form-add form input{
    width: 90%;
    margin: 10px 0;
    margin: 12px 0;
    border: none;
    height: 25px;
    padding: 4px;
} 
#form-add form p{
    margin: auto;
    color: red;
}

form input[type="checkbox"] {
    display: none;
}
.checkbox label {
    color: red;
    background-color: none;
    padding: 5px 8px 5px 41px;
    display: inline-block;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin: 3px;
}
.checkbox label:hover{
    background-color:rgba(117, 117, 117, 0.151);
}
.checkbox label:before{
    content: "";
    width: 13px;
    height: 13px;
    display: inline-block;
    background-color: none;
    border: 2px solid red;
    position: absolute;
    /* border-radius: 50%; */
    left: 17px;
    /* top: 4px; */
}
.checkbox input[type="checkbox"]:checked + label{
    padding: 5px 15px;
    background-color: red;
    color: white;
}
.checkbox input[type="checkbox"]:checked + label::before{
    display: none;
}

@media (max-width: 940px) {
    #form-add{
        /* padding: 10% 20%; */
    }
    #form-add form{
        width: 60%;
    }
}