.card-game{
    display: flex;
    flex-direction: column;
    margin: 10px;
    height: 270px;
    width: 200px;
    /* border: 1px solid white; */
    border-radius: 3%;
    text-align: center;
    color: black;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img{
    height: 70%;
    width:100%
}
.card-game div{
    height: 30%;
    padding: 2.5%;
    background: white;
}
.card-game h1 {
    margin: auto;
    overflow: hidden;
    max-width: 100%;
    max-height: 75%;
    position: relative;
}
.card-game p {
    margin: 0;
}