#container{
    /* background: url('../img/fondo-home.jpg'); */
    /* background-color: red; */
    background: url('../img/fondo-form.jpg');
	min-height: 100vh;
}

#container nav ul{
    margin: 0;
    padding: 1.5%;
}

#container nav ul button {
	color: white;
	background: none;
	margin: 0 4px;
	border: 1px solid;
	border-radius: 5px;
	cursor: pointer;
}